<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Acerca de</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Acerca de esta Aplicación</h1>
        <p class="lead">Esta es una aplicación sencilla creada con Flask para demostrar cómo se puede usar Docker y Azure.</p>
        <a href="/" class="btn btn-primary mt-3">Volver a Inicio</a>
    </div>
</body>
</html>
