<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Datos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Datos de la Aplicación</h1>
        <ul class="list-group mt-3">
            <li class="list-group-item">Nombre: {{ data.name }}</li>
            <li class="list-group-item">Versión: {{ data.version }}</li>
        </ul>
        <a href="/" class="btn btn-primary mt-3">Volver a Inicio</a>
    </div>
</body>
</html>
